{% extends "base.html" %}

{% load static %}

{% block title %}Inicio{% endblock %}

<div class="wrapper">

    <div id="content">

        {% block banner %}
            <!-- Start Banner -->
            <div class="ulockd-home-slider">
                <div class="container-fluid">
                    <div class="row">
                        <div class="pogoSlider" id="js-main-slider">

                            <div class="pogoSlider-slide">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="slide_text">
                                                <h6>Noticias</h6>
                                                <h3>El sol de México</h3>
                                                <h4></h4>
                                                <br>
                                                <a class="readmore_bt" href="about.html">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pogoSlider-slide">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="slide_text">
                                                <h6>Noticias</h6>
                                                <h3>El país</h3>
                                                <h4></h4>
                                                <br>
                                                <a class="readmore_bt" href="about.html">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pogoSlider-slide">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="slide_text">
                                                <h6>Noticias</h6>
                                                <h3>Milenio</h3>
                                                <h4></h4>
                                                <br>
                                                <a class="readmore_bt" href="about.html">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pogoSlider-slide">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="slide_text">
                                                <h6>Noticias</h6>
                                                <h3>El financiero</h3>
                                                <h4></h4>
                                                <br>
                                                <a class="readmore_bt" href="about.html">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- .pogoSlider -->
                    </div>
                </div>
            </div>
            <!-- End Banner -->
        {% endblock %}


        {% block section %}
            <!-- section -->
            <div class="section about_section layout_padding padding_top_0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="full">
                                <div class="heading_main text_align_center">
                                    <h2 class="margin-bottom_30"><strong class="small theme_color">
                                    </strong><br>Noticias destacadas</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="full">
                                <div class="heading_small">
                                    <h4>Increase your client</h4>
                                </div>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form, by injected humour, or randomised words which
                                    don't
                                    look even slightly believable. If you are going to use a pass<br><br>age of Lorem
                                    Ipsum,
                                    you need to be sure there isn'There are many variations of passages of Lorem Ipsum
                                    available, but the majority have suffered alteration in some form, by injected
                                    humour,
                                    or randomised words which don't look even slightly believable. If you are going to
                                    use a
                                    passage of Lorem Ipsum, you need to be sure there isn</p>
                            </div>
                            <div class="full margin-top_30">
                                <a class="readmore_bt" href="about.html">Read More</a>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="full text_align_center">
                                <img class="img-responsive" src="{% static 'images/f1.png' %}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end section -->
        {% endblock %}
