{% extends "base.html" %}

{% load static %}

{% block title %}Sitios principales{% endblock %}

<div class="wrapper">

    <div id="content">


        {% block section %}
            <!-- section -->
            <div class="section about_section layout_padding dash_bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="full">
                                <div class="heading_main text_align_center">
                                    <h2>Sitios Web</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                            <div class="full feature_box">
                                <div class="full icon">
                                    <a href="{% url 'milenio' %}"><img class="default-block" src="{% static 'images/milenio_logo.png' %}" style="height: 40px"   alt="#"/>
                                    <a href="{% url 'milenio' %}"><img class="default-none" src="{% static 'images/milenio_logo.png' %} " style="height: 40px"  />
                                </div>
                                <div class="full">
                                    <a href="{% url 'milenio' %}"><h4>Milenio</h4></a>
                                </div>
                                <div class="full">
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content..</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                            <div class="full feature_box">
                                <div class="full icon">
                                   <a href="{% url 'el_sol_de_mexico' %}"><img class="default-block" src="{% static 'images/El_Sol_de_Mexico_Logo.png' %}  " style="height: 50px"  />
                                    <a href="{% url 'el_sol_de_mexico' %}"><img class="default-none" src="{% static 'images/El_Sol_de_Mexico_Logo.png' %}  " style="height: 50px" />
                                </div>
                                <div class="full">
                                    <a href="{% url 'el_sol_de_mexico' %}"><h4>El Sol de México</h4></a>
                                </div>
                                <div class="full">
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content..</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                            <div class="full feature_box">
                                <div class="full icon">
                                    <a href="{% url 'el_pais' %}"><img class="default-block" src="{% static 'images/el_pais.png' %}"  style="height: 40px"/>
                                    <a href="{% url 'el_pais' %}"><img class="default-none" src="{% static 'images/el_pais.png' %}"  style="height: 40px"/>
                                </div>
                                <div class="full">
                                    <a href="{% url 'el_pais' %}"><h4>El País</h4></a>
                                </div>
                                <div class="full">
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content..</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                            <div class="full feature_box">
                                <div class="full icon">
                                    <a href="{% url 'el_financiero' %}"><img class="default-block" src="{% static 'images/el financiero.png' %}  " style="height: 30px"/>
                                    <a href="{% url 'el_financiero' %}"><img class="default-none" src="{% static 'images/el financiero.png' %}" style="height: 30px"/>
                                </div>
                                <div class="full">
                                    <a href="{% url 'el_financiero' %}"><h4>El Financiero</h4></a>
                                </div>
                                <div class="full">
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end section -->
        {% endblock %}

